
@font-face {
  font-family: 'Bazar';
  src: url('Bazar.eot?#iefix') format('embedded-opentype'),  url('Bazar.woff') format('woff'), url('Bazar.ttf')  format('truetype'), url('Bazar.svg#Bazar') format('svg');
  font-weight: normal;
  font-style: normal;
}
